[submodule "atlas-backend"]
    path = atlas-backend
    url = https://github.com/gpmc-lab-ufrgs/atlas-backend.git

[submodule "atlas-front-end"]
    path = atlas-front-end
    url = https://github.com/gpmc-lab-ufrgs/atlas.git

